<script setup>
import { ref } from 'vue'
import ProductForm from '@/components/ProductForm.vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import { useRouter } from 'vue-router'

const toaster = useToast()
const router = useRouter()

const product = ref({
  name: '',
  description: '',
  price: '',
  cost: '',
  category_id: '',
})
const save = (event) => {
  _axios
    .post('products', event)
    .then(() => {
      toaster.success('Товар успешно добавлен')
      router.push({ name: 'products.list' })
    })
    .catch((err) => {
      toaster.error('Ошибка, повторите попытку')
      console.log(err)
    })
}
</script>

<template>
  <ProductForm v-model:product="product" @save="save" />
</template>

<style scoped lang="scss"></style>
