<script setup>
import ProductForm from '@/components/ProductForm.vue'
import { onMounted, ref } from 'vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import router from '@/router'

const toaster = useToast()
const props = defineProps(['id'])
const product = ref('')
onMounted(() => {
  _axios.get(`products/${props.id}`).then(({ data }) => {
    product.value = data.data
  })
})
const save = (event) => {
  _axios
    .put(`products/${props.id}`, event)
    .then(() => {
      toaster.success('Успешно изменено')
      router.push({ name: 'products.list' })
    })
    .catch((err) => {
      toaster.error('Ошибка в изменении')
      console.log(err.response.data)
    })
}
</script>

<template>
  <ProductForm v-model:product="product" @save="save" :edit="true" />
</template>

<style scoped lang="scss"></style>
