<script setup>
import router from '@/router'
import { ref, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { ArrowDown, ArrowUp } from '@element-plus/icons-vue'
import { useToast } from 'vue-toast-notification'

const store = useStore()
const toaster = useToast()

const emptyFilter = {
  name: false,
  category_id: false,
}
const showFilter = ref({ ...emptyFilter })
const filter = ref({})
const tableRef = ref()
const perPage = ref(10)
const page = ref(1)

store.dispatch('getProductCategories')
const products = computed(() => store.getters.products)
const categories = computed(() => store.getters.productCategories)

const loadProducts = () =>
  store.dispatch('getProducts', {
    page: page.value,
    perPage: perPage.value,
    filter: filter.value,
  })
loadProducts()
watch(filter, loadProducts, { deep: true })
watch(page, loadProducts, { deep: true })
watch(perPage, loadProducts, { deep: true })

const toggleFilter = (name) => {
  showFilter.value[name] = !showFilter.value[name]
  filter.value[name] = ''
}

const confirmDelete = ref(false)
const deleteItem = (id) => {
  console.log('dalete product', id)
  toaster.success('soon')
  dialogVisible.value = false
  confirmDelete.value = false
}

const dialogVisible = ref(false)
const product = ref({})
const productInfo = (el) => {
  product.value = el
  dialogVisible.value = true
}
const edit = () => {
  router.push({
    name: 'products.edit',
    params: { id: product.value.id },
  })
}
</script>
<template>
  <div>
    <CCard style="width: 1000px">
      <el-dialog v-model="dialogVisible">
        <div class="product">
          <el-row>
            <el-col>
              <div>
                <span class="el-dialog__title product-title">
                  Данные товара
                </span>
                <div class="product-info">
                  <el-row>
                    <el-col :span="8"> Название: </el-col>
                    <el-col :span="16"> {{ product.name }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8"> Дата добавления: </el-col>
                    <el-col :span="16"> {{ product.created_at }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8"> Описание: </el-col>
                    <el-col :span="16"> {{ product.description }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8"> Цена в день: </el-col>
                    <el-col :span="16"> {{ product.price }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8"> Стоимость товара: </el-col>
                    <el-col :span="16"> {{ product.cost }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8"> Категория: </el-col>
                    <el-col :span="16"> {{ product.category.name }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8"> Изменено: </el-col>
                    <el-col :span="16"> {{ product.updated_at }} </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
        <template #footer>
          <div v-if="!confirmDelete" class="d-flex justify-content-center">
            <el-button type="primary" @click="edit">Изменить</el-button>
            <el-button type="danger" @click="confirmDelete = true">
              Удалить
            </el-button>
            <el-button @click="dialogVisible = false"> Закрыть </el-button>
          </div>
          <div v-else class="d-flex justify-content-center">
            <div>
              <span>Хотите удалить товар? </span>
              <div class="mt-3">
                <el-button type="danger" @click="deleteItem(product.id)"
                  >Удалить</el-button
                >
                <el-button @click="confirmDelete = false"> Отменить </el-button>
              </div>
            </div>
          </div>
        </template>
      </el-dialog>
      <CCardHeader>
        <div class="d-flex justify-content-between align-center">
          <strong>Товары</strong>
          <el-button
            @click="router.push({ name: 'products.add' })"
            type="success"
            round
          >
            Добавить
          </el-button>
        </div>
      </CCardHeader>
      <CCardBody>
        <el-table ref="tableRef" :data="products.data" @row-click="productInfo">
          <el-table-column fixed type="index" label="№" width="60" />
          <el-table-column prop="created_at" label="Дата" width="100" />
          <el-table-column prop="name" width="140">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.name }"
                type="button"
                @click="toggleFilter('name')"
                style="display: flex; align-items: center"
              >
                Название
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.name"></arrow-down>
                  <arrow-up v-show="showFilter.name"></arrow-up>
                </el-icon>
              </span>
              <el-input v-if="showFilter.name" v-model="filter.name" />
            </template>
          </el-table-column>
          <el-table-column prop="description" label="Описание" width="180" />
          <el-table-column prop="price" label="Цена в день" />
          <el-table-column prop="cost" label="Стоимость" />
          <el-table-column prop="category.name" width="140">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.category_id }"
                type="button"
                @click="toggleFilter('category_id')"
                style="display: flex; align-items: center"
              >
                Категория
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.category_id"></arrow-down>
                  <arrow-up v-show="showFilter.category_id"></arrow-up>
                </el-icon>
              </span>
              <el-select
                v-if="showFilter.category_id"
                v-model="filter.category_id"
              >
                <el-option value="">Не выбрано</el-option>
                <el-option
                  v-for="category in categories"
                  :key="category.id"
                  :value="category.id"
                  :label="category.name"
                />
              </el-select>
            </template>
          </el-table-column>
          <el-table-column prop="updated_at" label="Изменено" width="100" />
        </el-table>
        <div class="pagination d-flex justify-content-center my-2">
          <el-pagination
            v-model:current-page="page"
            v-model:page-size="perPage"
            layout="total, sizes, prev, pager, next"
            :page-sizes="[10, 25, 50]"
            :total="products.total"
            :page-count="products.last_page"
            @size-change="(val) => (perPage = val)"
            @change="(currentPage) => (page = currentPage)"
            @prev-click="page = page++"
            @next-click="page = page--"
          />
        </div>
      </CCardBody>
    </CCard>
  </div>
</template>

<style scoped lang="scss">
.product {
  &-title {
    display: flex;
    justify-content: center;
  }
  &-info {
    padding: 15px 0 15px 35px;
    font-size: 16px;
  }
}
.is-active-color {
  color: #409eff;
}
</style>
