<script setup>
import CategoryForm from '@/components/CategoryForm.vue'
import { onMounted, ref } from 'vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import router from '@/router'

const toaster = useToast()
const props = defineProps(['id'])
const category = ref('')
onMounted(() => {
  _axios.get(`categories/${props.id}`).then(({ data }) => {
    category.value = data.data.name
  })
})
const save = (event) => {
  _axios
    .put(`categories/${props.id}`, { name: event })
    .then(() => {
      toaster.success('Успешно добавлено')
      router.push({ name: 'categories' })
    })
    .catch((err) => {
      toaster.error('Ошибка в изменении')
      console.log(err.response.data)
    })
}
</script>

<template>
  <CategoryForm
    v-model:category="category"
    @save="save"
    :edit="true"
  ></CategoryForm>
</template>

<style scoped lang="scss"></style>
