// Here you can add other styles
.cursor-pointer {
  cursor: pointer;
}
.is-active-color {
  color: #409eff;
}
.shipping {
  color: $green;
}
.no-shipping {
  color: $red;
}
//style of statuses///
.not_started, .in_work, .completed, .not_paid, .closed {
  width: fit-content;
  padding: 4px 12px;
  border-radius: 15px;
  font-weight: 500;
  color: $white;
}
.not_started, .in_work, .completed {
  background-color: $primary;
}
.closed {
  background-color: $green;
}
.not_paid {
  background-color: $red;
}
