<script setup>
import { ref } from 'vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import router from '@/router'
import CustomerForm from '@/components/CustomerForm.vue'

const toaster = useToast()
let customer = ref({
  first_name: '',
  last_name: '',
  middle_name: '',
  date_of_birth: '',
  phone: '',
  address: '',
})
let passport_data = ref({
  type: '',
  sex: '',
  personal_number: '',
  series: '',
  number: null,
  issue_date: '',
  issued_by: '',
  expiry_date: '',
})
const save = (customer, passportData) => {
  const data = {
    customer: customer,
  }
  if (passportData.type) {
    data.passport_data = passportData
  }
  _axios
    .post('/customers', data)
    .then(() => {
      toaster.success('Успешно добавлено')
      router.push({ name: 'customers.list' })
    })
    .catch((err) => {
      toaster.error('Ошибка')
      console.log(err.response.data)
    })
}
</script>

<template>
  <CustomerForm
    v-model:customer="customer"
    v-model:passport_data="passport_data"
    @save="save"
  ></CustomerForm>
</template>

<style scoped lang="scss"></style>
