<script setup>
import CustomerForm from '@/components/CustomerForm.vue'
import { ref } from 'vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import { useRouter } from 'vue-router'

const toaster = useToast()
const router = useRouter()

const props = defineProps(['id'])

let customer = ref({
  first_name: '',
  last_name: '',
  middle_name: '',
  date_of_birth: '',
  phone: '',
  address: '',
})
let passport_data = ref({
  type: '',
  sex: '',
  personal_number: '',
  series: '',
  number: null,
  issue_date: '',
  issued_by: '',
  expiry_date: '',
})

_axios
  .get(`customers/${props.id}`)
  .then(({ data }) => {
    customer.value = data.data
    if (data.data.passport_data) {
      passport_data.value = data.data.passport_data
    }
  })
  .catch((err) => {
    toaster.error('Ошибка в изменении')
    console.log(err.response.data)
  })

const save = (customer, passportData) => {
  const data = {
    customer: customer,
  }
  if (passportData.type) {
    data.passport_data = passportData
  }
  _axios
    .put(`customers/${props.id}`, data)
    .then(() => {
      router.push({ name: 'customers.list' })
      toaster.success('Данные клиента обновлены')
    })
    .catch((err) => {
      console.log(err)
      toaster.error('Ошибка в изменении ' + err)
    })
}
</script>

<template>
  <CustomerForm
    v-model:customer="customer"
    v-model:passport_data="passport_data"
    @save="save"
    :edit="true"
  />
</template>

<style scoped lang="scss"></style>
