<script setup>
import router from '@/router'
import { ref, computed, watch } from 'vue'
import { useStore } from 'vuex'
import { ArrowDown, ArrowUp } from '@element-plus/icons-vue'
import { useToast } from 'vue-toast-notification'
import _axios from '@/plugins/axios'

const store = useStore()
const toaster = useToast()

const emptyFilter = {
  first_name: false,
  last_name: false,
  middle_name: false,
  phone: false,
}
const showFilter = ref({ ...emptyFilter })
const filter = ref({})
const tableRef = ref()
const perPage = ref(10)
const page = ref(1)

const customers = computed(() => store.getters.customers)

const loadCustomers = () =>
  store.dispatch('getCustomers', {
    page: page.value,
    perPage: perPage.value,
    filter: filter.value,
  })
loadCustomers()
watch(filter, loadCustomers, { deep: true })
watch(page, loadCustomers, { deep: true })
watch(perPage, loadCustomers, { deep: true })

const toggleFilter = (name) => {
  showFilter.value[name] = !showFilter.value[name]
  filter.value[name] = ''
}

const clearFilter = () => {
  showFilter.value = { ...emptyFilter }
  filter.value = {}
}

const deleteBtn = ref(false)
const deleteItem = (id) => {
  _axios
    .delete(`customers/${id}`)
    .then(() => {
      toaster.success('Данные клиента удалены')
      loadCustomers()
      deleteBtn.value = false
      dialogVisible.value = false
    })
    .catch((err) => {
      toaster.error('Ошибка в удалении')
      console.log(err.response.data)
    })
}

const dialogVisible = ref(false)
const customer = ref({})
const customerInfo = (el) => {
  customer.value = el
  dialogVisible.value = true
}
const edit = () => {
  router.push({
    name: 'customers.edit',
    params: { id: customer.value.id },
  })
}
</script>
<template>
  <div>
    <CCard style="width: 1000px">
      <el-dialog v-model="dialogVisible">
        <div class="customer">
          <el-row>
            <el-col :span="12">
              <div>
                <span class="el-dialog__title customer-title">
                  Данные клиента
                </span>
                <div class="customer-info">
                  <el-row>
                    <el-col :span="9"> Имя: </el-col>
                    <el-col :span="15"> {{ customer.first_name }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Фамилия: </el-col>
                    <el-col :span="15"> {{ customer.last_name }} </el-col>
                  </el-row>
                  <el-row v-if="customer.middle_name">
                    <el-col :span="9"> Отчество: </el-col>
                    <el-col :span="15"> {{ customer.middle_name }} </el-col>
                  </el-row>
                  <el-row v-if="customer.date_of_birth">
                    <el-col :span="9"> Дата рождение: </el-col>
                    <el-col :span="15"> {{ customer.date_of_birth }} </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Номер телефона: </el-col>
                    <el-col :span="15"> {{ customer.phone }} </el-col>
                  </el-row>
                  <el-row v-if="customer.address">
                    <el-col :span="9"> Адрес: </el-col>
                    <el-col :span="15"> {{ customer.address }} </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
            <el-col :span="12">
              <div>
                <span class="el-dialog__title customer-title">
                  Паспортные данные
                </span>
                <span class="no-data" v-if="!customer.passport_data"
                  >Нет данных</span
                >
                <div v-else class="customer-info">
                  <el-row>
                    <el-col :span="9"> Тип: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.type }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> ПИН: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.personal_number }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Серия: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.series }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Паспорт №: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.number }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Пол: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.sex }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Выдан: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.issued_by }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Дата выдачи: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.issue_date }}
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="9"> Срок до: </el-col>
                    <el-col :span="15">
                      {{ customer.passport_data.expiry_date }}
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
        <template #footer>
          <div v-if="!deleteBtn" class="d-flex justify-content-center">
            <el-button type="primary" @click="edit">Изменить</el-button>
            <el-button type="danger" @click="deleteBtn = true">
              Удалить
            </el-button>
            <el-button @click="dialogVisible = false"> Закрыть </el-button>
          </div>
          <div v-else class="d-flex justify-content-center">
            <div>
              <span>Удалить данные клиента? </span>
              <div class="mt-3">
                <el-button type="danger" @click="deleteItem(customer.id)"
                  >Удалить</el-button
                >
                <el-button @click="deleteBtn = false"> Отменить </el-button>
              </div>
            </div>
          </div>
        </template>
      </el-dialog>
      <CCardHeader>
        <div class="d-flex justify-content-between align-center">
          <strong>Клиенты</strong>
          <el-button
            @click="router.push({ name: 'customers.add' })"
            type="success"
            round
          >
            Добавить
          </el-button>
        </div>
      </CCardHeader>
      <CCardBody>
        <el-button @click="clearFilter">Очистить фильтры</el-button>
        <el-table
          ref="tableRef"
          :data="customers.data"
          @row-click="customerInfo"
        >
          <el-table-column fixed type="index" label="№" width="60" />
          <el-table-column prop="first_name" width="140">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.first_name }"
                type="button"
                @click="toggleFilter('first_name')"
                style="display: flex; align-items: center"
              >
                Имя
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.first_name"></arrow-down>
                  <arrow-up v-show="showFilter.first_name"></arrow-up>
                </el-icon>
              </span>
              <el-input
                v-if="showFilter.first_name"
                v-model="filter.first_name"
              />
            </template>
          </el-table-column>
          <el-table-column prop="last_name" width="140">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.last_name }"
                type="button"
                @click="toggleFilter('last_name')"
                style="display: flex; align-items: center"
              >
                Фамилия
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.last_name"></arrow-down>
                  <arrow-up v-show="showFilter.last_name"></arrow-up>
                </el-icon>
              </span>
              <el-input
                v-if="showFilter.last_name"
                v-model="filter.last_name"
              />
            </template>
          </el-table-column>
          <el-table-column prop="middle_name" width="140">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.middle_name }"
                type="button"
                @click="toggleFilter('middle_name')"
                style="display: flex; align-items: center"
              >
                Отчество
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.middle_name"></arrow-down>
                  <arrow-up v-show="showFilter.middle_name"></arrow-up>
                </el-icon>
              </span>
              <el-input
                v-if="showFilter.middle_name"
                v-model="filter.middle_name"
              />
            </template>
          </el-table-column>
          <el-table-column prop="phone" width="130">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.phone }"
                type="button"
                @click="toggleFilter('phone')"
                style="display: flex; align-items: center"
              >
                Телефон
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.phone"></arrow-down>
                  <arrow-up v-show="showFilter.phone"></arrow-up>
                </el-icon>
              </span>
              <el-input v-if="showFilter.phone" v-model="filter.phone" />
            </template>
          </el-table-column>
          <el-table-column prop="address" label="Адрес" />
          <el-table-column prop="date_of_birth" label="Дата рождения" />
        </el-table>
        <div class="pagination d-flex justify-content-center my-2">
          <el-pagination
            v-model:current-page="page"
            v-model:page-size="perPage"
            layout="total, sizes, prev, pager, next"
            :page-sizes="[10, 25, 50]"
            :total="customers.total"
            :page-count="customers.last_page"
            @size-change="(val) => (perPage = val)"
            @change="(currentPage) => (page = currentPage)"
            @prev-click="page = page++"
            @next-click="page = page--"
          />
        </div>
      </CCardBody>
    </CCard>
  </div>
</template>

<style scoped lang="scss">
.customer {
  &-title {
    display: flex;
    justify-content: center;
  }
  &-info {
    padding: 15px 0 15px 35px;
    font-size: 16px;
  }
}
.no-data {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  font-size: 20px;
  opacity: 0.33;
}
.is-active-color {
  color: #409eff;
}
</style>
