<template>
  <div></div>
</template>

<script setup>
import _axios from '@/plugins/axios'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

if (!store.state.is_authorised) {
  router.push({ name: 'Login' })
} else {
  _axios
    .get('user')
    .then((data) => console.log(data))
    .catch((error) => console.log(error))
}
</script>
