<script setup>
import { computed } from 'vue'

const props = defineProps({
  category: {
    type: String,
  },
  edit: {
    type: Boolean,
    default: false,
  },
})
const emit = defineEmits(['update:category', 'save'])
const model = computed({
  get() {
    return props.category
  },
  set(newValue) {
    emit('update:category', newValue)
  },
})

function updateCategory() {
  emit('save', model.value)
}
</script>
<template>
  <div>
    <CCard style="width: 600px">
      <CCardHeader
        ><strong>{{ edit ? 'Редактирование' : 'Добавление' }} категории</strong>
      </CCardHeader>
      <CCardBody>
        <el-form @submit.prevent="updateCategory">
          <el-row class="align-items-center">
            <span class="ml-3 w-35 text-gray-600 inline-flex items-center"
              >Название категории:
            </span>
            <el-input v-model="model" class="w-50 m-2" />
            <el-button native-type="submit">Сохранить</el-button>
          </el-row>
        </el-form>
      </CCardBody>
    </CCard>
  </div>
</template>

<style scoped lang="scss"></style>
