<script setup>
import { computed, ref } from 'vue'
import router from '@/router'

const props = defineProps({
  customer: {
    type: Object,
  },
  passport_data: {
    type: Object,
  },
  edit: {
    type: Boolean,
    default: false,
  },
})
const emit = defineEmits(['update:customer', 'save'])

const model = computed({
  get() {
    return props.customer
  },
  set(newValue) {
    emit('update:customer', newValue)
  },
})

const modelPassport = computed({
  get() {
    return props.passport_data
  },
  set(newValue) {
    emit('update:passport_data', newValue)
  },
})

const formRef = ref()
const passportFormRef = ref()
function submitForm(formEl, passportForm) {
  if (!formEl || !passportForm) return
  formEl.validate((customerFormValid) => {
    passportForm.validate((passportFormValid) => {
      if (customerFormValid && passportFormValid) {
        emit('save', model.value, modelPassport.value)
      }
    })
  })
}

const rules = {
  string: { type: 'string', message: 'Принимает только строку' },
  required: { required: true, message: 'Обязательное поле' },
  number: { type: 'number', message: 'Принимает только цифру' },
  dete: { type: 'date', message: 'Выберите корректную дату' },
}
</script>
<template>
  <div>
    <CCard style="width: 600px">
      <CCardHeader>
        <strong>{{ edit ? 'Редактирование' : 'Добавление' }} клиента</strong>
      </CCardHeader>
      <CCardBody>
        <el-form
          ref="formRef"
          :model="model"
          label-width="190px"
          label-position="left"
          class="demo-ruleForm"
        >
          <el-form-item
            label="Имя:"
            prop="first_name"
            :rules="[rules.string, rules.required]"
          >
            <el-input v-model="model.first_name" placeholder="Абдуллох" />
          </el-form-item>

          <el-form-item
            label="Фамилия:"
            prop="last_name"
            :rules="[rules.string, rules.required]"
          >
            <el-input v-model="model.last_name" placeholder="Абдуллаев" />
          </el-form-item>
          <el-form-item
            label="Отчество:"
            prop="customer.middle_name"
            :rules="rules.string"
          >
            <el-input v-model="model.middle_name" placeholder="Абдуллаевич" />
          </el-form-item>
          <el-form-item
            :rules="rules.date"
            label="Дата рождение:"
            prop="date_of_birth"
          >
            <el-date-picker
              v-model="model.date_of_birth"
              type="date"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              placeholder="1994-12-30"
            />
          </el-form-item>
          <el-form-item label="Телефон:" prop="phone" :rules="rules.required">
            <el-input
              v-maska
              data-maska="0 (###) ##-##-##"
              v-model="model.phone"
              placeholder="0 (555) 55-55-55"
            />
          </el-form-item>
          <el-form-item label="Адрес:" prop="address">
            <el-input
              placeholder="г. Москва, ул. Ленина, д. 1"
              v-model="model.address"
            />
          </el-form-item>
          <el-row class="align-items-center my-4 fw-bold">
            <span>Паспортные данные</span>
          </el-row>
        </el-form>
        <el-form
          ref="passportFormRef"
          :model="modelPassport"
          label-width="190px"
          label-position="left"
          class="demo-ruleForm"
        >
          <el-form-item label="Тип документа:" prop="type">
            <el-select v-model="modelPassport.type">
              <el-option v-if="!edit" selected label="Не выбрано" :value="null"
                >Не выбрано</el-option
              >
              <el-option label="Паспорт" value="passport"></el-option>
              <el-option label="ID-карта" value="identity_card"></el-option>
              <el-option
                label="Водительское удостоверение"
                value="driver_license"
              ></el-option>
            </el-select>
          </el-form-item>
          <div v-if="modelPassport.type" class="passport-data">
            <el-form-item
              label="Персональный номер:"
              prop="personal_number"
              :rules="[
                rules.required,
                { min: 14, max: 14, message: 'Должен содержать 14 цифр' },
              ]"
            >
              <el-input type="number" v-model="modelPassport.personal_number" />
            </el-form-item>
            <el-form-item label="Серия:" prop="series" :rules="rules.required">
              <el-input v-model="modelPassport.series" />
            </el-form-item>
            <el-form-item label="Номер:" prop="number" :rules="rules.required">
              <el-input type="number" v-model="modelPassport.number" />
            </el-form-item>
            <el-form-item :rules="rules.required" label="Пол:" prop="sex">
              <el-select v-model="modelPassport.sex">
                <el-option value="male" label="Мужской"></el-option>
                <el-option value="female" label="Женский"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              label="Дата выдачи:"
              prop="issue_date"
              :rules="rules.required"
            >
              <el-date-picker
                v-model="modelPassport.issue_date"
                type="date"
                format="YYYY-MM-DD"
                value-format="YYYY-MM-DD"
                placeholder="1994-12-30"
              />
            </el-form-item>
            <el-form-item
              label="Кем выдан:"
              prop="issued_by"
              :rules="[rules.required]"
            >
              <el-input
                placeholder="MKK"
                v-model.number="modelPassport.issued_by"
              />
            </el-form-item>
            <el-form-item
              label="Срок действие:"
              prop="expiry_date"
              :rules="rules.required"
            >
              <el-date-picker
                v-model="modelPassport.expiry_date"
                type="date"
                format="YYYY-MM-DD"
                value-format="YYYY-MM-DD"
                placeholder="1994-12-30"
              />
            </el-form-item>
          </div>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm(formRef, passportFormRef)"
              >Сохранить</el-button
            >
            <el-button @click="router.back">Назад</el-button>
          </el-form-item>
        </el-form>
      </CCardBody>
    </CCard>
  </div>
</template>

<style scoped lang="scss"></style>
