<script setup>
import _axios from '@/plugins/axios'
import { ref } from 'vue'
import { useStore } from 'vuex'
import dateformat from '@/plugins/dateformat'
import { useRouter } from 'vue-router'
import { useToast } from 'vue-toast-notification'

const toaster = useToast()
const router = useRouter()
const store = useStore()
store.dispatch('getDealCategories')
const dealCategories = store.getters.dealCategories

const deal = ref({
  customer_id: '',
  category_id: dealCategories.length ? dealCategories[0].id : '',
  is_shipping_included: 0,
  started_at: dateformat(
    new Date().setHours(9, 0, 0, 0),
    'yyyy-mm-dd hh:MM:ss',
  ),
})

const loading = ref(false)
const customersSuggestion = ref([])
const getCustomers = (query) => {
  if (query) {
    loading.value = true
    _axios
      .get('customers', {
        params: {
          page: 1,
          perPage: 10,
          filter: {
            query: query,
          },
        },
      })
      .then(({ data }) => {
        customersSuggestion.value = data.data.map((item) => ({
          value: item.id,
          label: [
            item.first_name,
            item.last_name,
            item.middle_name ? item.middle_name : '',
          ].join(' '),
        }))
        loading.value = false
      })
  } else {
    customersSuggestion.value = []
  }
}
const createDeal = () => {
  deal.value.started_at = dateformat(
    deal.value.started_at,
    'yyyy-mm-dd hh:MM:ss',
  )
  _axios
    .post('deals', deal.value)
    .then(({ data }) => {
      router.push({ name: 'deals.edit', params: { id: data.data.id } })
    })
    .catch((err) => {
      console.log(err)
      toaster.error('Ошибка добовлении сделки')
    })
}
</script>

<template>
  <el-form
    ref="ruleFormRef"
    :model="deal"
    label-width="120px"
    label-position="left"
  >
    <el-form-item prop="customer_id" label="Клиент:">
      <el-select
        v-model="deal.customer_id"
        filterable
        remote
        reserve-keyword
        placeholder="Напишите имя клиента"
        remote-show-suffix
        :remote-method="getCustomers"
        :loading="loading"
        style="width: 240px"
      >
        <el-option
          v-for="item in customersSuggestion"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Категория:">
      <el-select clearable v-model="deal.category_id">
        <el-option
          v-for="category in dealCategories"
          :key="category"
          :label="category.name"
          :value="category.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Доставка:">
      <el-switch v-model="deal.is_shipping_included"> </el-switch>
    </el-form-item>
    <el-form-item label="Дата начала:">
      <el-date-picker
        v-model="deal.started_at"
        type="datetime"
        :default-time="new Date()"
      />
    </el-form-item>
    <el-form-item>
      <el-button
        type="primary"
        :disabled="!deal.customer_id || !deal.category_id"
        @click="createDeal"
        >Создать</el-button
      >
    </el-form-item>
  </el-form>
</template>
