<script setup>
import { computed, ref } from 'vue'
import _axios from '@/plugins/axios'
import { useStore } from 'vuex'

const store = useStore()

const props = defineProps({
  inventory: {
    type: Object,
  },
  edit: {
    type: Boolean,
    default: false,
  },
})
const emit = defineEmits(['update:inventory', 'save'])
const model = computed({
  get() {
    return props.inventory
  },
  set(newValue) {
    emit('update:inventory', newValue)
  },
})

const formRef = ref()
const submitForm = (formEl) => {
  if (!formEl) return
  formEl.validate((FormValid) => {
    if (FormValid) {
      emit('save', model.value)
    } else {
      console.log('error submit!')
      return false
    }
  })
}
const required = { required: true, message: 'Обязательное поле' }

const loading = ref(false)

store.dispatch('getProductCategories')
const categories = computed(() => store.getters.productCategories)
const category = ref('')

const productsSuggestion = ref([])
const getProducts = (query) => {
  if (query) {
    loading.value = true
    _axios
      .get('products', {
        params: {
          page: 1,
          perPage: 10,
          filter: {
            category_id: category.value,
            name: query,
          },
        },
      })
      .then(({ data }) => {
        productsSuggestion.value = data.data.map((item) => ({
          value: item.id,
          label: item.name,
        }))
        loading.value = false
      })
  } else {
    productsSuggestion.value = []
  }
}
</script>

<template>
  <CCard style="max-width: 600px">
    <CCardHeader>
      <strong>{{ edit ? 'Редактирование' : 'Добавление' }}</strong>
    </CCardHeader>
    <CCardBody>
      <el-form
        ref="formRef"
        :model="model"
        label-width="190px"
        label-position="left"
      >
        <el-form-item v-if="!props.edit" label="Категория">
          <el-select clearable v-model="category">
            <el-option
              v-for="category in categories"
              :key="category"
              :label="category.name"
              :value="category.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="!props.edit"
          :rules="required"
          prop="product_id"
          label="Название"
        >
          <el-select
            v-model="model.product_id"
            filterable
            remote
            reserve-keyword
            placeholder="Название товара"
            remote-show-suffix
            :remote-method="getProducts"
            :loading="loading"
          >
            <el-option
              v-for="item in productsSuggestion"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-else label="Название">
          <span>{{ model.product_name }}</span>
        </el-form-item>
        <el-form-item v-if="props.edit" label="В аренде:">
          <span>{{ model.on_rent }}</span>
        </el-form-item>
        <el-form-item :rules="required" prop="in_stock" label="На складе:">
          <el-input-number v-model="model.in_stock" />
        </el-form-item>
        <el-form-item :rules="required" prop="on_repair" label="В ремонте:">
          <el-input-number v-model="model.on_repair" />
        </el-form-item>
        <el-form-item :rules="required" prop="out_of_service" label="Списан:">
          <el-input-number v-model="model.out_of_service" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm(formRef)">
            Сохранить
          </el-button>
        </el-form-item>
      </el-form>
    </CCardBody>
  </CCard>
</template>

<style scoped lang="scss"></style>
