<script setup>
import { useStore } from 'vuex'
import { computed, ref } from 'vue'
import _axios from '@/plugins/axios'

const props = defineProps({
  newProduct: {
    type: Object,
  },
})
const emit = defineEmits(['update:NewProduct', 'addProduct'])

const store = useStore()
store.dispatch('getProductCategories')
const categoryProducts = computed(() => store.getters.productCategories)

const loading = ref(false)
const productsSuggestion = ref([])

const product = computed({
  get() {
    return props.newProduct
  },
  set(newValue) {
    emit('update:NewProduct', newValue)
  },
})

const getProducts = (query) => {
  if (query) {
    console.log(query)
    loading.value = true
    _axios
      .get('products', {
        params: {
          page: 1,
          perPage: 10,
          filter: {
            category_id: product.value.category,
            name: query,
          },
        },
      })
      .then(({ data }) => {
        productsSuggestion.value = data.data.map((item) => ({
          value: item.id,
          label: item.name,
        }))
        loading.value = false
      })
  } else {
    productsSuggestion.value = []
  }
}

const addProduct = () => {
  emit('addProduct')
}
</script>

<template>
  <el-form label-position="top" class="d-flex justify-content-between">
    <el-form-item label="Категория">
      <el-select clearable v-model="product.category">
        <el-option
          v-for="category in categoryProducts"
          :key="category"
          :label="category.name"
          :value="category.id"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Название">
      <el-select
        v-model="product.id"
        filterable
        remote
        reserve-keyword
        placeholder="Напишите название товара"
        remote-show-suffix
        :remote-method="getProducts"
        :loading="loading"
        style="width: 240px"
      >
        <el-option
          v-for="item in productsSuggestion"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Штук">
      <el-input-number v-model="product.quantity" min="1" value="1" />
    </el-form-item>
    <el-form-item label="&nbsp">
      <el-button :disabled="!product.id" type="success" @click="addProduct">
        Добавить
      </el-button>
    </el-form-item>
  </el-form>
</template>

<style scoped lang="scss"></style>
