<script setup>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

const router = useRouter()
const store = useStore()
store.dispatch('getProductCategories')
const categories = store.getters.productCategories

const props = defineProps({
  product: {
    type: Object,
  },
  edit: {
    type: Boolean,
    default: false,
  },
})
const emit = defineEmits(['update:products', 'save'])

const model = computed({
  get() {
    return props.product
  },
  set(newValue) {
    emit('update:products', newValue)
  },
})
const formRef = ref()
const rule = { required: true, message: 'Обязательное поле' }
const submit = async (formEl) => {
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      emit('save', model.value)
    } else {
      console.log('error submit!', fields)
    }
  })
}
</script>

<template>
  <div>
    <CCard style="max-width: 600px">
      <CCardHeader>
        <strong>{{ edit ? 'Редактирование' : 'Добавление' }} товара</strong>
      </CCardHeader>
      <CCardBody>
        <el-form
          ref="formRef"
          :model="model"
          label-width="190px"
          label-position="left"
          class="demo-ruleForm"
        >
          <el-form-item label="Категория" prop="category_id" :rules="rule">
            <el-select v-model="model.category_id">
              <el-option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
                :label="category.name"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Название" prop="name" :rules="rule">
            <el-input v-model="model.name" placeholder="Название" />
          </el-form-item>
          <el-form-item label="Описание" prop="description">
            <el-input v-model="model.description" placeholder="Описание" />
          </el-form-item>
          <el-form-item label="Цена в день" prop="price" :rules="rule">
            <el-input-number v-model="model.price" />
          </el-form-item>
          <el-form-item label="Цена товара" prop="cost" :rules="rule">
            <el-input-number v-model="model.cost" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submit(formRef)">
              Сохранить
            </el-button>
            <el-button type="info" @click="router.back"> Назад </el-button>
          </el-form-item>
        </el-form>
      </CCardBody>
    </CCard>
  </div>
</template>

<style scoped lang="scss"></style>
