<script setup>
import CategoryForm from '@/components/CategoryForm.vue'
import { ref } from 'vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import router from '@/router'

const toaster = useToast()
const category = ref('')
const save = (event) => {
  category.value = event
  _axios
    .post('/categories', { name: category.value, type: 'product' })
    .then(() => {
      toaster.success('Успешно добавлено')
      router.push({ name: 'product.categories' })
    })
    .catch((err) => {
      toaster.error('Ошибка в добовлении')
      console.log(err)
    })
}
</script>

<template>
  <CategoryForm v-model:category="category" @save="save"></CategoryForm>
</template>
