<script setup>
import { Delete, EditPen } from '@element-plus/icons-vue'
import { useStore } from 'vuex'
import { computed } from 'vue'
import router from '@/router'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'

const store = useStore()
const toaster = useToast()
store.dispatch('getProductCategories')

const dataTable = computed(() => store.state.productCategories)
const addCategory = () => {
  router.push({ name: 'product.category.add' })
}
const deleteItem = (el) => {
  _axios
    .delete(`categories/${el.row.id}`)
    .then(() => {
      toaster.success('Успешно удалено')
      store.dispatch('getProductCategories')
    })
    .catch((err) => {
      if (err.response.status !== 422) {
        toaster.error('Ошибка в удалении')
      }
      console.log(err)
    })
}
const edit = (el) => {
  router.push({
    name: 'product.category.edit',
    params: { id: el.row.id },
  })
}
</script>

<template>
  <div>
    <CCard style="width: 600px">
      <CCardHeader>
        <div class="d-flex justify-content-between">
          <strong>Категории</strong>
          <el-button round type="success" @click="addCategory">
            Добавить</el-button
          >
        </div>
      </CCardHeader>
      <CCardBody>
        <el-table ref="tableRef" :data="dataTable">
          <el-table-column type="index" />
          <el-table-column prop="name" label="Название категории" />
          <el-table-column label="Действие" width="150px">
            <template #default="scope">
              <div class="d-flex align-items-center">
                <el-button type="text" @click="edit(scope)"
                  ><el-icon size="large"><EditPen /></el-icon>
                </el-button>
                <el-button text type="danger" @click="deleteItem(scope)"
                  ><el-icon size="large"><Delete /></el-icon>
                </el-button>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </CCardBody>
    </CCard>
  </div>
</template>
