<script setup>
import InventoryForm from '@/components/InventoryForm.vue'
import { ref } from 'vue'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import { useRouter } from 'vue-router'

const toaster = useToast()
const router = useRouter()

const inventory = ref({
  product_id: null,
  in_stock: 1,
  on_repair: 0,
  out_of_service: 0,
})
const save = () => {
  _axios
    .post('/inventories', inventory.value)
    .then(() => {
      router.push({ name: 'inventory.list' })
      toaster.success('Товар успешно добавлен')
    })
    .catch((err) => {
      console.log(err)
      toaster.error('Ошибка в добовлении')
    })
}
</script>

<template>
  <InventoryForm v-model:inventory="inventory" @save="save" />
</template>

<style scoped lang="scss"></style>
