<script setup>
import InventoryForm from '@/components/InventoryForm.vue'
import _axios from '@/plugins/axios'
import { onMounted, ref } from 'vue'
import { useToast } from 'vue-toast-notification'
import { useRouter } from 'vue-router'

const toaster = useToast()
const router = useRouter()

const props = defineProps(['id'])
const inventory = ref({})
onMounted(() => {
  _axios.get(`/inventories/${props.id}/edit`).then(({ data }) => {
    inventory.value = data.data
  })
})
const save = () => {
  _axios
    .put(`/inventories/${props.id}`, inventory.value)
    .then(() => {
      router.push({ name: 'inventory.list' })
      toaster.success('Продукт изменен')
    })
    .catch((err) => {
      console.log(err)
      toaster.error('Ошибка в изменении')
    })
}
</script>

<template>
  <InventoryForm v-model:inventory="inventory" @save="save" :edit="true" />
</template>

<style scoped lang="scss"></style>
