<script setup>
import { ArrowDown, ArrowUp, EditPen } from '@element-plus/icons-vue'
import { computed, ref, watch } from 'vue'
import { useStore } from 'vuex'
import router from '@/router'

const emptyFilter = {
  product_name: false,
  category_id: false,
}
const page = ref(1)
const perPage = ref(10)
const filter = ref({})

const store = useStore()
store.dispatch('getProductCategories')
const categories = computed(() => store.getters.productCategories)
const inventories = computed(() => store.getters.inventories)
const loadInventories = () => {
  store.dispatch('getInventories', {
    page: page.value,
    perPage: perPage.value,
    filter: filter.value,
  })
}
loadInventories()
watch(filter, loadInventories, { deep: true })
watch(page, loadInventories, { deep: true })
watch(perPage, loadInventories, { deep: true })

const showFilter = ref({ ...emptyFilter })
const toggleFilter = (name) => {
  showFilter.value[name] = !showFilter.value[name]
  filter.value[name] = ''
}

const edit = (id) => {
  router.push({ name: 'inventory.edit', params: { id: id } })
}
</script>

<template>
  <div>
    <CCard>
      <CCardHeader>
        <div class="d-flex justify-content-between align-items-center">
          <strong>Инвентарь</strong>
          <el-button
            type="success"
            round
            @click="router.push({ name: 'inventory.add' })"
            >Добавить</el-button
          >
        </div>
      </CCardHeader>
      <CCardBody>
        <el-table :data="inventories.data">
          <el-table-column prop="product_name">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.product_name }"
                type="button"
                @click="toggleFilter('product_name')"
                style="display: flex; align-items: center"
              >
                Название
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.product_name"></arrow-down>
                  <arrow-up v-show="showFilter.product_name"></arrow-up>
                </el-icon>
              </span>
              <el-input
                v-if="showFilter.product_name"
                v-model="filter.product_name"
              />
            </template>
          </el-table-column>
          <el-table-column prop="category_name">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.category_id }"
                type="button"
                @click="toggleFilter('category_id')"
                style="display: flex; align-items: center"
              >
                Категория
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.category_id"></arrow-down>
                  <arrow-up v-show="showFilter.category_id"></arrow-up>
                </el-icon>
              </span>
              <el-select
                v-if="showFilter.category_id"
                v-model="filter.category_id"
              >
                <el-option value="">Не выбрано</el-option>
                <el-option
                  v-for="category in categories"
                  :key="category.id"
                  :value="category.id"
                  :label="category.name"
                />
              </el-select>
            </template>
          </el-table-column>
          <el-table-column prop="in_stock" label="В наличии" />
          <el-table-column prop="on_rent" label="В аренде" />
          <el-table-column prop="on_repair" label="На ремонте" />
          <el-table-column prop="out_of_service" label="Списан" />
          <el-table-column prop="total" label="Всего" />
          <el-table-column>
            <template #default="scope">
              <el-button text type="primary" @click="edit(scope.row.product_id)"
                ><el-icon size="large"><EditPen /></el-icon>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </CCardBody>
      <div class="pagination d-flex justify-content-center my-2">
        <el-pagination
          v-model:current-page="page"
          v-model:page-size="perPage"
          layout="total, sizes, prev, pager, next"
          :page-sizes="[10, 25, 50]"
          :total="inventories.total"
          :page-count="inventories.last_page"
          @size-change="(val) => (perPage = val)"
          @change="(currentPage) => (page = currentPage)"
          @prev-click="page = page++"
          @next-click="page = page--"
        />
      </div>
    </CCard>
  </div>
</template>
