<script setup>
import _axios from '@/plugins/axios'
import { computed, onMounted, ref, watch } from 'vue'
import { useToast } from 'vue-toast-notification'
import { useStore } from 'vuex'
import router from '@/router'
import { Delete } from '@element-plus/icons-vue'
import { statusesMap } from '@/constants'
import dateformat from '@/plugins/dateformat'
import ProductFormDeal from '@/components/ProductFormDeal.vue'

const toaster = useToast()
const store = useStore()
const props = defineProps(['id'])
const commentMsg = ref('')
const customer = ref({})
const dealInfo = ref({
  status: 'not_started',
})
const dealProducts = ref([])
const availableStatuses = ref(['not_started'])
const productsLoading = ref(false)
let loadDispatched = false

store.dispatch('getDealCategories')
const categories = computed(() => store.getters.dealCategories)

const loadDeal = () => {
  loadDispatched = true
  _axios
    .get(`/deals/${props.id}`)
    .then(({ data }) => {
      dealInfo.value = data.data
      getStatuses()
      dealProducts.value = data.data.products
      commentMsg.value = dealInfo.value.comment
      setTimeout(() => (loadDispatched = false), 100)
      if (!customer.value.id) {
        _axios
          .get(`/customers/${dealInfo.value.customer_id}`)
          .then(({ data }) => {
            customer.value = data.data
          })
      }
    })
    .catch((err) => {
      loadDispatched = false
      console.log(err)
    })
}

function getStatuses() {
  _axios.get(`/deals/${props.id}/available-statuses`).then(({ data }) => {
    availableStatuses.value = []
    availableStatuses.value.push(dealInfo.value.status)
    data.data.map((item) => availableStatuses.value.push(item))
  })
}

onMounted(loadDeal)

const saveDeal = async (newValue, oldValue) => {
  if (!oldValue.id || loadDispatched) {
    return
  }
  await _axios
    .put(`/deals/${props.id}`, dealInfo.value)
    .then(() => {
      toaster.success('Изменении сохранены')
      loadDeal()
    })
    .catch((err) => {
      console.log(err)
    })
}

watch(dealInfo, saveDeal, {
  deep: true,
})

const saveDealProducts = async () => {
  productsLoading.value = true
  loadDispatched = true
  await _axios
    .post(`deals/${props.id}/products`, {
      products: dealProducts.value.map((item) => ({
        product_id: item.id,
        quantity: item.quantity,
      })),
    })
    .then(({ data }) => {
      dealProducts.value = data.data.products
      productsLoading.value = false
      setTimeout(() => (loadDispatched = false), 100)
    })
    .catch((err) => {
      setTimeout(() => (loadDispatched = false), 100)
      productsLoading.value = false
      console.log(err)
    })
}

const newProduct = ref({
  id: '',
  quantity: 1,
})
const addProduct = () => {
  if (dealProducts.value.find((item) => item.id === newProduct.value.id)) {
    toaster.error('Товар уже добавлен, удалите из списка и попробуйте ещё раз')
    return
  }
  dealProducts.value.push({
    id: newProduct.value.id,
    quantity: newProduct.value.quantity,
  })
  saveDealProducts()
  newProduct.value.id = ''
}
const deleteVissable = ref(false)
const deleteProductId = ref('')
const confirmDelete = (id) => {
  deleteProductId.value = id
  deleteVissable.value = true
}
const deleteItem = () => {
  dealProducts.value = dealProducts.value.filter((item) => {
    return item.id !== deleteProductId.value
  })
  saveDealProducts()
  deleteVissable.value = false
}
const dealCompleted = () => {
  return ['in_work', 'not_started'].indexOf(dealInfo.value.status) === -1
}
</script>

<template>
  <div>
    <div class="deal">
      <el-row>
        <el-col :span="15">
          <div class="deal-list">
            <el-card class="me-2">
              <template #header>
                <div class="d-flex justify-content-between">
                  <span class="deal-list__title">
                    Сделка - №{{ dealInfo.id }}</span
                  >
                  <el-select
                    style="width: 270px"
                    v-model="dealInfo.status"
                    :disabled="dealInfo.status === 'closed'"
                  >
                    <el-option
                      v-for="item in availableStatuses"
                      :key="item"
                      :value="item"
                      :label="statusesMap[item]"
                    />
                  </el-select>
                </div>
              </template>
              <div class="deal-list__items"></div>
              <div class="deal-list__items">
                <el-table :data="dealProducts" v-loading="productsLoading">
                  <el-table-column width="50" prop="id" label="ID" />
                  <el-table-column prop="name" label="Название" />
                  <el-table-column prop="price" label="Цена" />
                  <el-table-column prop="quantity" label="Штук" />
                  <el-table-column prop="total" label="Сумма" />
                  <el-table-column v-if="dealInfo.status === 'not_started'">
                    <template #default="scope">
                      <div class="d-flex align-items-center">
                        <el-button
                          text
                          type="danger"
                          @click="confirmDelete(scope.row.id)"
                          ><el-icon size="large"><Delete /></el-icon>
                        </el-button>
                      </div>
                    </template>
                  </el-table-column>
                </el-table>
                <el-dialog width="500" v-model="deleteVissable">
                  <h5 class="text-center">Хотите удалить товар?</h5>
                  <template #footer>
                    <div class="d-flex justify-content-center">
                      <el-button type="primary" @click="deleteItem"
                        >Удалить</el-button
                      >
                      <el-button type="info" @click="deleteVissable = false"
                        >Отменить</el-button
                      >
                    </div>
                  </template>
                </el-dialog>
              </div>
              <template #footer>
                <div
                  v-if="dealInfo.status === 'not_started'"
                  class="deal-list__add"
                >
                  <ProductFormDeal
                    v-model:newProduct="newProduct"
                    @addProduct="addProduct"
                  />
                </div>
              </template>
            </el-card>
          </div>
        </el-col>
        <el-col :span="9">
          <div class="deal-info">
            <el-card>
              <template #header>
                <div class="deal-info__customer">
                  {{ customer.first_name }} {{ customer.last_name }}
                  {{ customer.middle_name ? customer.middle_name : '' }}
                  <br />
                  ({{ customer.phone }})
                </div>
              </template>
              <div class="deal-info__items">
                <el-row>
                  <el-col :span="9"> Категория: </el-col>
                  <el-col :span="15">
                    <el-select
                      :disabled="dealCompleted()"
                      v-model="dealInfo.category_id"
                    >
                      <el-option
                        v-for="category in categories"
                        :key="category.id"
                        :value="category.id"
                        :label="category.name"
                      />
                    </el-select>
                  </el-col>
                </el-row>
                <hr />
                <el-row>
                  <el-col :span="9">Дата создания: </el-col>
                  <el-col :span="15">
                    {{ dateformat(dealInfo.created_at) }}
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="9">Дата начала:</el-col>
                  <el-col :span="15">
                    {{ dateformat(dealInfo.started_at) }}
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="9">Дата завершения: </el-col>
                  <el-col :span="15">
                    {{ dateformat(dealInfo.completed_at) }}
                  </el-col>
                </el-row>
                <hr />
                <el-row>
                  <el-col :span="9"> Дней в аренде: </el-col>
                  <el-col :span="15"> {{ dealInfo.days }} </el-col>
                </el-row>
                <el-row>
                  <el-col :span="9"> Выходных: </el-col>
                  <el-col v-if="dealCompleted()" :span="15">
                    {{ dealInfo.days_off }}
                  </el-col>
                  <el-col v-else :span="15">
                    <el-input-number
                      v-model="dealInfo.days_off"
                      :max="dealInfo.days_off + dealInfo.days"
                      min="0"
                    />
                  </el-col>
                </el-row>
                <hr />
                <el-row>
                  <el-col :span="9"> Цена в день: </el-col>
                  <el-col :span="15"> {{ dealInfo.price_per_day }} </el-col>
                </el-row>
                <el-row>
                  <el-col :span="9"> Сумма: </el-col>
                  <el-col :span="15"> {{ dealInfo.total }} </el-col>
                </el-row>
                <hr />
                <el-row>
                  <el-col :span="9"> Доставка: </el-col>
                  <el-col :span="15">
                    <el-select
                      :disabled="dealInfo.status === 'closed'"
                      v-model="dealInfo.is_shipping_included"
                    >
                      <el-option :value="true" label="Есть"></el-option>
                      <el-option :value="false" label="Нет"></el-option>
                    </el-select>
                  </el-col>
                </el-row>
              </div>
              <template #footer>
                <div>
                  <span>Коментарии:</span>
                  <el-input
                    v-model="commentMsg"
                    autosize
                    type="textarea"
                    placeholder="Коментарии..."
                  />
                  <div v-show="dealInfo.comment !== commentMsg" class="my-2">
                    <el-button
                      type="primary"
                      @click="dealInfo.comment = commentMsg"
                    >
                      Сохранить
                    </el-button>
                    <el-button
                      type="info"
                      @click="commentMsg = dealInfo.comment"
                    >
                      Отменить
                    </el-button>
                  </div>
                </div>
                <div class="d-flex justify-content-center my-2">
                  <el-button size="large" type="info" @click="router.back"
                    >Назад</el-button
                  >
                </div>
              </template>
            </el-card>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<style scoped lang="scss">
.deal {
  &-title {
    display: flex;
    justify-content: center;
  }

  &-list {
    &__title {
      font-size: 22px;
      font-weight: bolder;
    }
  }

  &-info {
    &__status {
      padding: 7px 15px;
      border-radius: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &__customer {
      font-size: 22px;
      font-weight: bolder;
      text-align: center;
    }
    &__items {
      font-size: 18px;
    }
  }
}
</style>
