<script setup>
import router from '@/router'
import { ref, computed, watch } from 'vue'
import { ArrowDown, ArrowUp, Delete } from '@element-plus/icons-vue'
import { useStore } from 'vuex'
import { statuses, statusesMap } from '@/constants'
import dateformat from '@/plugins/dateformat'
import _axios from '@/plugins/axios'
import { useToast } from 'vue-toast-notification'
import DealForm from '@/components/DealForm.vue'
const toaster = useToast()

const store = useStore()
const emptyFilter = {
  first_name: false,
  last_name: false,
  middle_name: false,
  phone: false,
}
const showFilter = ref({ ...emptyFilter })
const filter = ref({})
const tableRef = ref()
const perPage = ref(10)
const page = ref(1)

const addDealVisable = ref(false)
const addDeal = () => {
  addDealVisable.value = true
}

const deals = computed(() => store.getters.deals)
const loadDeals = () =>
  store.dispatch('getDeals', {
    page: page.value,
    perPage: perPage.value,
    filter: filter.value,
  })
loadDeals()
watch(filter, loadDeals, { deep: true })
watch(page, loadDeals, { deep: true })
watch(perPage, loadDeals, { deep: true })

const dealInfo = (el) => {
  router.push({ name: 'deals.edit', params: { id: el.id } })
}

const toggleFilter = (name) => {
  showFilter.value[name] = !showFilter.value[name]
  filter.value[name] = ''
}
const clearFilter = () => {
  showFilter.value = { ...emptyFilter }
  filter.value = {}
}
const deleteVisible = ref(false)
const deleteDealId = ref('')
const confirDelete = (id) => {
  deleteDealId.value = id
  deleteVisible.value = true
}
const deleteDeal = async () => {
  await _axios
    .delete(`deals/${deleteDealId.value}`)
    .then(() => {
      toaster.success('Успешно удалено')
      loadDeals()
    })
    .catch((err) => {
      if (err.response.status !== 422) {
        toaster.error('Ошибка в удалении')
      }
      console.log(err)
    })
  deleteVisible.value = false
}
</script>
<template>
  <div>
    <CCard>
      <CCardHeader>
        <div class="d-flex justify-content-between align-center">
          <strong>Сделки</strong>
          <el-button @click="addDeal" type="success" round>
            Добавить
          </el-button>
          <el-dialog v-model="addDealVisable" width="400">
            <DealForm />
          </el-dialog>
        </div>
      </CCardHeader>
      <CCardBody>
        <el-row>
          <el-col :span="4">
            <el-button @click="clearFilter">Очистить фильтры</el-button>
          </el-col>
          <el-col :span="20" class="d-flex align-items-center">
            <span>Поиск:</span>
            <el-input
              v-model="filter.last_name"
              placeholder="Фамилия"
              class="mx-2"
            />
            <el-input
              v-model="filter.first_name"
              placeholder="Имя"
              class="mx-2"
            />
            <el-input
              v-model="filter.middle_name"
              placeholder="Отчество"
              class="mx-2"
            />
          </el-col>
        </el-row>
        <el-table ref="tableRef" :data="deals.data" @row-click="dealInfo">
          <el-table-column fixed prop="id" label="#" width="60" />
          <el-table-column prop="first_name" label="ФИО">
            <template #default="scope">
              {{ scope.row.last_name }}
              {{ scope.row.first_name }}
              {{ scope.row.middle_name }}
            </template>
          </el-table-column>
          <el-table-column prop="phone">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.phone }"
                type="button"
                @click="toggleFilter('phone')"
                style="display: flex; align-items: center"
              >
                Телефон
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.phone"></arrow-down>
                  <arrow-up v-show="showFilter.phone"></arrow-up>
                </el-icon>
              </span>
              <el-input v-if="showFilter.phone" v-model="filter.phone" />
            </template>
          </el-table-column>
          <el-table-column prop="category.name" width="120">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.category_id }"
                type="button"
                @click="toggleFilter('category_id')"
                style="display: flex; align-items: center"
              >
                Категория
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.category_id"></arrow-down>
                  <arrow-up v-show="showFilter.category_id"></arrow-up>
                </el-icon>
              </span>
              <el-select
                v-if="showFilter.category_id"
                v-model="filter.category_id"
              >
                <el-option value="">Не выбрано</el-option>
                <el-option
                  v-for="category in categories"
                  :key="category.id"
                  :value="category.id"
                  :label="category.name"
                />
              </el-select>
            </template>
          </el-table-column>
          <el-table-column label="Доставка" width="65">
            <template #default="scope">
              <span
                :class="
                  scope.row.is_shipping_included ? 'shipping' : 'no-shipping'
                "
                >{{ scope.row.is_shipping_included ? 'Есть' : 'Нет' }}</span
              >
            </template>
          </el-table-column>
          <el-table-column label="Дата" width="140">
            <template #default="scope">
              {{ dateformat(scope.row.created_at) }}
            </template>
          </el-table-column>
          <el-table-column prop="price_per_day" label="Цена" width="70" />
          <el-table-column prop="total" label="Сумма" width="80" />
          <el-table-column label="Статус" width="140">
            <template #header>
              <span
                :class="{ 'is-active-color': showFilter.status }"
                type="button"
                @click="toggleFilter('status')"
                style="display: flex; align-items: center"
              >
                Категория
                <el-icon size="15">
                  <arrow-down v-show="!showFilter.status"></arrow-down>
                  <arrow-up v-show="showFilter.status"></arrow-up>
                </el-icon>
              </span>
              <el-select v-if="showFilter.status" v-model="filter.status">
                <el-option value="">Не выбрано</el-option>
                <el-option
                  v-for="item in statuses"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                />
              </el-select>
            </template>
            <template #default="scope">
              <span :class="scope.row.status">{{
                statusesMap[scope.row.status]
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Коментарии" width="180">
            <template #default="scope">
              <span>{{
                scope.row.comment?.length > 40
                  ? scope.row.comment.substr(0, 40) + '...'
                  : scope.row.comment
              }}</span>
            </template>
          </el-table-column>
          <el-table-column width="75">
            <template #default="scope">
              <el-button
                text
                type="danger"
                @click.stop="confirDelete(scope.row.id)"
                ><el-icon size="large"><Delete /></el-icon>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-dialog v-model="deleteVisible">
          <h5 class="text-center">Хотите удалить сделку?</h5>
          <template #footer>
            <div class="d-flex justify-content-center">
              <el-button @click="deleteDeal" type="primary">Удалить</el-button>
              <el-button @click="deleteVisible = false" type="info"
                >Отменить</el-button
              >
            </div>
          </template>
        </el-dialog>
      </CCardBody>
      <div class="pagination d-flex justify-content-center my-2">
        <el-pagination
          v-model:current-page="page"
          v-model:page-size="perPage"
          layout="total, sizes, prev, pager, next"
          :page-sizes="[10, 25, 50]"
          :total="deals.total"
          :page-count="deals.last_page"
          @size-change="(val) => (perPage = val)"
          @change="(currentPage) => (page = currentPage)"
          @prev-click="page = page++"
          @next-click="page = page--"
        />
      </div>
    </CCard>
  </div>
</template>

<style scoped lang="scss"></style>
